<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.praveen.typenote">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".EditActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".LicensesActivity" />
        <activity android:name=".ContributorsActivity" />
        <activity android:name=".ViewActivity" />
    </application>

</manifest>